@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --background: 180, 18%, 96%;
    --foreground: 208, 52%, 10%;

    /** Navbar */
    --navbar: 180, 18%, 96%;
    --navbar-item-background: 180, 16%, 79%;
    --navbar-item-foreground: 208, 52%, 10%;
    --navbar-hover: 196, 30%, 24%;
    --navbar-active: 196, 30%, 24%;

    /** Card */
    --card: 180, 18%, 96%;
    --card-background: 180, 16%, 79%;
    --card-foreground: 208, 52%, 10%;
    --card-hover: 196, 30%, 24%;

    /**Article Details */
    --article: 240, 2%, 54%;

    /** Color Picker */
    --color-active: 240, 2%, 54%;

    /** Button */
    --button: 180, 18%, 96%;
    --button-background: 180, 16%, 79%;
    --button-foreground: 208, 52%, 10%;
    --button-hover: 196, 30%, 24%;

    /** Other */
    --red: 0 84.2% 60.2%;
    --border: 199.4 95.5% 73.9%; /* sky-300 */
    --overlay: 0, 0%, 0%, 0.6;
    --radius: 0.3rem;
  }
  .dark {
    --background: 208, 52%, 10%;
    --foreground: 180, 18%, 96%;
    --background-hover: 208, 52%, 10%;

    /** Navbar */
    --navbar: 208, 52%, 10%;
    --navbar-item-background: 196, 30%, 24%;
    --navbar-item-foreground: 180, 18%, 96%;
    --navbar-hover: 180, 16%, 79%;
    --navbar-active: 180, 16%, 79%;

    /** Card */
    --card: 208, 52%, 10%;
    --card-background: 196, 30%, 24%;
    --card-foreground: 180, 18%, 96%;
    --card-hover: 180, 16%, 79%;

    /**Product Details */
    --article-text: 240, 2%, 74%;

    /** Button */
    --button: 208, 52%, 10%;
    --button-background: 196, 30%, 24%;
    --button-foreground: 180, 18%, 96%;
    --button-hover: 180, 16%, 79%;

    /** Other */
    --border: 240 3.7% 15.9%;
    --overlay: 0, 0%, 0%, 0.4;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
    box-sizing: box-border;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

@layer utilities {
  .navFirstDiv > div:first-child {
    @apply mr-8 w-[-webkit-fill-available] lg:flex;
  }

  .dynamicGrid {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  }

  .buttonChildSelector {
    button {
      background-color: hsla(var(--background), 0.8);
      &:first-of-type {
        left: 0.5rem;
      }
      &:last-child {
        right: 0.5rem;
      }
    }
  }
}
